@model Dominio.Classes.AcompanhamentoCrianca
<nav>
    <span class="card-title">Cadastrar acompanhamento infantil</span>
</nav>

@using (Html.BeginForm("Cadastrar", "AcompanhamentoCrianca")) 
{
    @Html.AntiForgeryToken()

    <div class="row">
        <br /><br />
        @Html.ActionLink("Home", "Index", "Home") >
        @Html.ActionLink("Voltar a Lista", "Index")
    </div>

    <div class="row">
        <div class="col s12">
            
            <ul class="tabs">
                <li class="tab"><a href="#cadastro-acomp-infantil">Cadastrar acompanhamento infantil</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
        <br /><br />
        <form>
            <br /><br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="input-field col s2">
                    @Html.DisplayNameFor(model => model.Visita.dataVisita)
                    @Html.DisplayFor(model => model.Visita.dataVisita)
                </div>
                <div class="input-field col s1"></div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.numSus, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.numSus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numSus, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s1"></div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.codVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.codVisita, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codVisita, "", new { @class = "text-danger" })
                </div>
                
            </div>

            <div id="cadastro-acomp-infantil" class="row">
                <div class="input-field col s12">
                    <fieldset>
                        <legend>Informações da criança</legend>
                        <div class="row">
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.desnutricao, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.desnutricao, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.desnutricao, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.pneumonia, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.pneumonia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.pneumonia, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.diarreia, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.diarreia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.diarreia, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.vacinacaoEmDia, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.vacinacaoEmDia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vacinacaoEmDia, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.inflamacaoRep, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.inflamacaoRep, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.inflamacaoRep, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.alimentacaoPeito, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.alimentacaoPeito, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.alimentacaoPeito, "", new { @class = "text-danger" })
                            </div>

                            <div class="input-field col s2">

                            </div>

                            <div class="input-field col s2">
                                @Html.LabelFor(model => model.peso, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row center">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </form>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
