@model Dominio.Classes.AcompanhamentoCrianca
<nav>
    <span class="card-title">Excluir acompanhamento infantil</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<p>
    <br />
    <h5>Você tem certeza que deseja excluir esse acompanhamento?</h5>
    <br />
</p>
<div>
@using (Html.BeginForm("Excluir", "AcompanhamentoCrianca"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col s12">

            <ul class="tabs">
                <li class="tab"><a href="#excluir-acomp-infantil">Excluir acompanhamento infantil</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
        <br /><br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="excluir-acomp-infantil" class="row">
            <div class="row">
                <div class="input-field col s2">
                    @Html.DisplayNameFor(model => model.Visita.dataVisita)<br /><br />
                    @Html.DisplayFor(model => model.Visita.dataVisita)
                </div>
                <div class="input-field col s1"></div>
                <div class="input-field col s2">
                    @Html.DisplayNameFor(model => model.numSus)<br /><br />
                    @Html.DisplayFor(model => model.numSus)
                </div>
                <div class="input-field col s1"></div>
                <div class="input-field col s2">
                    @Html.DisplayNameFor(model => model.codVisita)<br /><br />
                    @Html.DisplayFor(model => model.codVisita)
                </div>

            </div>
            <div class="input-field col s12">
                <fieldset>
                    <legend>Informações da criança</legend>

                    <div class="row">
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.peso)<br /><br />
                            @Html.DisplayFor(model => model.peso)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <h6>Desnutricao</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.desnutricao)
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s2">
                            <h6>Pneumonia</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.pneumonia)
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s2">
                            <h6>Diarreia</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.diarreia)
                                </div>
                            </div>

                        </div>
                        <div class="input-field col s2">
                            <h6>Vacinaçao em dia</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.vacinacaoEmDia)
                                </div>
                            </div>
                        </div>
                        <div class="input-field col s2">
                            <h6>Inflamação respiratória</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.inflamacaoRep)
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s2">
                            <h6>Aleitamento exclusivo no peito</h6>
                            <div class="col s2">
                                <div class="row">
                                    @Html.DisplayFor(model => model.alimentacaoPeito)
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    </div>

}
</div>
