@model IEnumerable<Dominio.Classes.Domicilio>

<nav>
    <span class="card-title">Lista de domicílios cadastrados</span>
</nav>

<div class="row">
    <form class="col s12">
        <p>
            <div class="row">
                <!-- Radio Button -->
                <div class="input-field col s3">
                    <input name="pesquisa-domicilio" class="with-gap" type="radio" id="sus" checked />
                    <label for="sus">N° do SUS</label>
                    <input name="pesquisa-domicilio" class="with-gap" type="radio" id="endereco" />
                    <label for="endereco">Endereco</label>
                </div>
                <!-- Caixa de texto -->
                <div class="input-field col s3">
                    <i class="material-icons prefix">search</i>
                    <input id="pesquisa" type="text" placeholder="Pesquisar" />
                </div>
                <!-- Botão Novo -->
                <div class="input-field col s3">
                    <label for="pesquisa">@Html.ActionLink("Adicionar Novo", "Inserir")</label>
                </div>
            </div>
        </p>
    </form>
</div>

<table class="striped">
    <thead>
        <tr>
            <th data-field="sus">
                @Html.DisplayNameFor(model => model.susResponsavel)
            </th>
            <th data-field="rua">
                @Html.DisplayNameFor(model => model.rua)
            </th>
            <th data-field="numero">
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.susProfissional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.id }) |
                    @Html.ActionLink("Remover", "Remover", new { id = item.id })
                </td>
            </tr>
        </tbody>
    }
</table>