@model Dominio.Classes.Domicilio

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
@using (Html.BeginForm("Excluir","Domicilio"))
{
    @Html.AntiForgeryToken()
    <h4>Domicilio</h4>
    @Html.HiddenFor(model => model.codigo)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susProfissional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susProfissional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codCNES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codCNES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codEquipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codEquipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.microArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.microArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacaoMoradia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacaoMoradia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoMoradia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoMoradia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numProntuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numProntuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nascimentoResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nascimentoResponsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rendaFamiliar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rendaFamiliar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numMembro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numMembro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantComodos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantComodos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantMoradores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantMoradores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.energiaEletrica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.energiaEletrica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abastecimentoAgua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abastecimentoAgua)
        </dd>

    </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
