@model Dominio.Classes.Visita
<nav>
    <span class="card-title">Detalhes da visita domiciliar</span>
</nav>
<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab"><a href="#detalhes-visita">Detalhes da visita domiciliar</a></li>
            <li class="tab disabled"></li>
        </ul>
    </div>
    <div id="detalhes-visita" class="col s12">
        <div class="row">
            <br /><br />
            <fieldset>
                <legend>Horário da visita</legend>
                <div class="row">
                    <div class="input-field col s3">
                        @Html.DisplayNameFor(model => model.codDomicilio)
                    </div>
                    <div class="input-field col s3">

                        @Html.DisplayNameFor(model => model.dataVisita)
                    </div>
                    <div class="input-field col s3">
                        @Html.DisplayNameFor(model => model.dataProxVisita)
                    </div>
                    <div class="input-field col s3">
                        @Html.DisplayNameFor(model => model.melhorHorario)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        @Html.DisplayFor(model => model.codDomicilio)
                    </div>
                    <div class="input-field col s3">
                        @Html.DisplayFor(model => model.dataVisita)
                    </div>
                    <div class="input-field col s3">
                        @Html.DisplayFor(model => model.dataProxVisita)
                    </div>
                    <div class="input-field col s3">
                        @Html.DisplayFor(model => model.melhorHorario)
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <legend>Observações</legend>
                <div class="row">
                    <div class="input-field col s8">
                        @Html.DisplayNameFor(model => model.resumo)
                    </div>
                    <div class="input-field col s8">
                        @Html.DisplayFor(model => model.resumo)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        @Html.DisplayNameFor(model => model.detalhes)
                    </div>
                    <div class="input-field col s8">
                        @Html.DisplayFor(model => model.detalhes)
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
