@model Dominio.Classes.Visita
<nav>
    <span class="card-title">Editar visita domiciliar</span>
</nav>

@using (Html.BeginForm("Atualizar","Visita"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <br /><br />
        @Html.ActionLink("Página Inicial", "Index", "Home") >
        @Html.ActionLink("Voltar a Lista", "Index")
    </div>
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#editar-visita">Editar visita domiciliar</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
        <div id="editar-visita" class="col s12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.codigo)
            <form>
                <br /><br />
                @Html.DisplayNameFor(model => model.codigo)
                @Html.DisplayFor(model => model.codigo)
                <div class="row">
                    <fieldset>
                        <legend>Horário da visita</legend>
                        <div class="input-field col s3">
                            @Html.LabelFor(model => model.codDomicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.codDomicilio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.codDomicilio, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s3">
                            @Html.LabelFor(model => model.dataVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.dataVisita, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dataVisita, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s3">
                            @Html.LabelFor(model => model.dataProxVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.dataProxVisita, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dataProxVisita, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s3">
                            @Html.LabelFor(model => model.melhorHorario, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.melhorHorario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.melhorHorario, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset>
                        <legend>Observações</legend>
                        <div class="input-field col s8">
                            @Html.LabelFor(model => model.resumo, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.resumo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.resumo, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s8">
                            @Html.LabelFor(model => model.detalhes, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.detalhes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.detalhes, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="row center">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>   
}
<script src="~/Content/js/jquery-2.1.4.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
