@model IEnumerable<Dominio.Classes.Visita>
<nav>
    <span class="card-title">Lista de visitas domiciliares</span>
</nav>
<div class="row">
    <br /><br />
    @Html.ActionLink("Inicio", "Index", "Home")
</div>
<div class="row">
    <form class="col s12">
        <p>
            <div class="row">
                <!-- Radio Button -->
                <div class="input-field col s4">
                    <input name="pesquisa-visita" class="with-gap" type="radio" id="id-domicilio" />
                    <label for="id-domicilio">ID do domicílio</label>
                    <input name="pesquisa-visita" class="with-gap" type="radio" id="sus-responsavel" checked />
                    <label for="sus">N° do SUS do Responsavel</label>
                </div>
                <!-- Caixa de texto -->
                <div class="input-field col s3">
                    <i class="material-icons prefix">search</i>
                    <input id="pesquisa" type="text" placeholder="Pesquisar" />
                </div>
                <!-- Botão Novo -->
                <div class="input-field col s3">
                    @Html.ActionLink("Novo", "Inserir", null, new { @class = "btn blue" })
                </div>
            </div>
        </p>
    </form>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codDomicilio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio.susResponsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataVisita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codDomicilio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio.susResponsavel)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "btn blue" })
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.id }, new { @class = "btn blue" })
                    @Html.ActionLink("Remover", "Remover", new { id = item.id }, new { @class = "btn blue" })
                </td>
            </tr>
        </tbody>
    }
</table>
