@model Dominio.Classes.Visita
<nav>
    <span class="card-title">Cadastrar visita domiciliar</span>
</nav>

@using (Html.BeginForm("Cadastrar", "Visita"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <br /><br />
        @Html.ActionLink("Página Inicial", "Index", "Home") >
        @Html.ActionLink("Voltar a Lista", "Index")
    </div>

    <div class="row">
        @Html.ValidationSummary(true)
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#cadastro-visita">Cadastrar visita domiciliar</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>

        <div id="cadastro-visita" class="col s12">
            <form>
                <br /><br />
                <div class="row">
                    <fieldset>
                        <legend>Horário da visita</legend>
                        <div class="input-field col s2">
                            @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.codigo)
                            @Html.ValidationMessageFor(model => model.codigo)
                        </div>
                        <div class="input-field col s2">
                            @Html.LabelFor(model => model.codDomicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.codDomicilio)
                            @Html.ValidationMessageFor(model => model.codDomicilio)
                        </div>
                        <div class="input-field col s2">
                            @Html.LabelFor(model => model.dataVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.dataVisita, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dataVisita)
                        </div>
                        <div class="input-field col s2">
                            @Html.LabelFor(model => model.dataProxVisita, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.dataProxVisita, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dataProxVisita)
                        </div>
                        <div class="input-field col s2">
                            @Html.LabelFor(model => model.melhorHorario, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.melhorHorario)
                            @Html.ValidationMessageFor(model => model.melhorHorario)
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset>
                        <legend>Observações</legend>
                        <div class="row">
                            <div class="input-field col s9">
                                @Html.LabelFor(model => model.resumo, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.resumo)
                                @Html.ValidationMessageFor(model => model.resumo)
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s9">
                                @Html.LabelFor(model => model.detalhes, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(model => model.detalhes, new { @rows = 10 })
                                @Html.ValidationMessageFor(model => model.detalhes)
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-offset-2 col-md-10 center">
                    <input type="submit" value="Cadastrar" class="btn blue" />
                    <br />
                </div>
            </form>
        </div>
    </div>
}

<script src="~/Content/js/jquery-2.1.4.min.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/jquery.validate.unobtrusive.js"></script>