@model Dominio.Classes.AcompanhamentoEnfermo
<nav>
    <span class="card-title">Detalhes do acompanhamento do enfermo</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<div class="row">
    <div class="col s12">

        <ul class="tabs">
            <li class="tab"><a href="#detalhes-acomp-enfermo">Detalhes do acompanhamento do enfermo</a></li>
            <li class="tab disabled"></li>
        </ul>
    </div>
    <br /><br />

    <div id="detalhes-acomp-enfermo" class="row">
        <div class="row">
            <div class="input-field col s2">
                @Html.DisplayNameFor(model => model.Visita.dataVisita) <br /><br />
                @Html.DisplayFor(model => model.Visita.dataVisita)
            </div>
            <div class="input-field col s1"></div>
            <div class="input-field col s2">
                @Html.DisplayNameFor(model => model.numSus)<br /><br />
                @Html.DisplayFor(model => model.numSus)
            </div>
            <div class="input-field col s1"></div>
            <div class="input-field col s2">
                @Html.DisplayNameFor(model => model.codVisita)<br /><br />
                @Html.DisplayFor(model => model.codVisita)
            </div>
        </div>
        <div class="input-field col s12">
            <fieldset>
                <legend>Informações do enfermo</legend>
                <div class="row">
                    <div class="input-field col s2">
                        @Html.DisplayNameFor(model => model.idEnfermidade)<br /><br />
                        @Html.DisplayFor(model => model.idEnfermidade)
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <div cass="row">
                            @Html.DisplayNameFor(model => model.acompanhamentoMedico)<br /><br />
                            @Html.DisplayFor(model => model.acompanhamentoMedico)
                        </div>
                    </div>
                    <div class="col s3">
                        <div cass="row">
                            @Html.DisplayNameFor(model => model.acompanhamentoPsico)<br /><br />
                            @Html.DisplayFor(model => model.acompanhamentoPsico)
                        </div>
                    </div>
                    <div class="col s3">
                        <div cass="row">
                            @Html.DisplayNameFor(model => model.medicacao)<br /><br />
                            @Html.DisplayFor(model => model.medicacao)
                        </div>
                    </div>
                    <div class="col s3">
                        <div cass="row">
                            @Html.DisplayNameFor(model => model.procedimentoCirurgico)<br /><br />
                            @Html.DisplayFor(model => model.procedimentoCirurgico)
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>