@model Dominio.Classes.Equipe

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numSus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numSus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codMicroArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codMicroArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.funcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
