@model IEnumerable<Dominio.Classes.Equipe>
<nav>
    <span class="card-title">Lista de áreas cadastradas</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Página Inicial", "Index", "Home")
</div>
<div class="row">
    <form class="col s12">
        <p>
            <div class="row">
                <div class="input-field col s2">
                    <input name="pesquisa-equipe" class="with-gap" type="radio" id="equipe" checked />
                    <label for="equipe">N° da equipe</label>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">search</i>
                    <input id="pesquisa" type="text" placeholder="Pesquisar" />
                </div>
                <div class="input-field col s3">
                    @Html.ActionLink("Novo", "Inserir", null, new { @class = "btn blue" })
                </div>
            </div>
        </p>
    </form>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "btn blue" })
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.id }, new { @class = "btn blue" })
                    @Html.ActionLink("Remover", "Remover", new { id = item.id }, new { @class = "btn blue" })
                </td>
            </tr>
        </tbody>
    }
</table>