@model Dominio.Classes.Equipe

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
@using (Html.BeginForm("Excluir","Equipe"))
{
    @Html.AntiForgeryToken()

    <h4>Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numSus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numSus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codMicroArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codMicroArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.funcao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcao)
        </dd>

    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
