
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Home", "Index", "Home") |
@Html.ActionLink("Relatório de Visita ", "relatorioVisita", "Relatorios") |
@Html.ActionLink("Relatório de Acompanhamento de Criança", "relatorioAcompanhamentoCrianca", "Relatorios") |
@Html.ActionLink("Relatório de Acompanhamento de Gestante ", "relatorioAcompanhamentoGestante", "Relatorios") |
@Html.ActionLink("Relatório de Acompanhamento de Enfermo ", "relatorioAcompanhamentoEnfermo", "Relatorios") 

