@model IEnumerable<Dominio.Classes.Individuo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create") |
    @Html.ActionLink("Domicilio", "Index", "Domicilio")

</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numSus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numSus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.id }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.id })
        </td>
    </tr>
}

</table>
