@model IEnumerable<Dominio.Classes.Individuo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idDomicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numSus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDomicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numSus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
