@model Dominio.Classes.Individuo

@{
    ViewBag.Title = "Inserir";
}

<h2>Inserir</h2>


@using (Html.BeginForm("Cadastrar", "Individuo")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Individuo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idDomicilio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idDomicilio)
                @Html.ValidationMessageFor(model => model.idDomicilio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome)
                @Html.ValidationMessageFor(model => model.nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numSus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numSus)
                @Html.ValidationMessageFor(model => model.numSus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apelido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apelido)
                @Html.ValidationMessageFor(model => model.apelido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.municipio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.municipio)
                @Html.ValidationMessageFor(model => model.municipio)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a Lista", "Index")
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/materialize.min.js"></script>
