@model Dominio.Classes.MicroArea
<nav>
    <span class="card-title">Editar dados da micro área</span>
</nav>

@using (Html.BeginForm("Atualizar", "MicroArea"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <br /><br />
        @Html.ActionLink("Home", "Index", "Home") >
        @Html.ActionLink("Voltar a Lista", "Index")
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#editar">Editar dados da micro área</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
    </div>
    <br /><br />
    <form>
        <div class="row">
            <div id="editar" class="col s12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.codigo)


                <fieldset>
                    <legend>Micro área</legend>
                    <div class="row">
                        <div id="editar" class="col s2">
                            @Html.DisplayNameFor(model => model.codigo)
                        </div>
                        <div id="editar" class="col s2"></div>
                        <div id="editar" class="col s2">
                            @Html.LabelFor(model => model.codArea, htmlAttributes: new { @class = "control-label col-md-2" })     
                        </div>
                    </div>
                    <div class="row">
                        <div id="editar" class="col s2">
                            @Html.DisplayFor(model => model.codigo)
                        </div>
                        <div id="editar" class="col s2"></div>
                        <div id="editar" class="col s2">
                            @Html.EditorFor(model => model.codArea, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.codArea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        
        <div class="row center">
                <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </form>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
