@model Dominio.Classes.MicroArea
<nav>
    <span class="card-title">Excluir micro área</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<p>
    <h5>Você tem certeza que deseja excluir esse registro?</h5>
</p>
@using (Html.BeginForm("Excluir", "MicroArea"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#remover">Excluir micro área</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
    </div>
    <br /><br />
    <form>
        <div id="remover" class="row">
            <div class="input-field col s12">

                <fieldset>
                    <legend>Micro área</legend>
                    @Html.HiddenFor(model => model.codigo)

                    <div class="row">
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.codigo)
                        </div>
                        <div class="input-field col s2"></div>
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.codArea)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            @Html.DisplayFor(model => model.codigo)
                        </div>
                        <div class="input-field col s2"></div>
                        <div class="input-field col s2">
                            @Html.DisplayFor(model => model.codArea)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        
        <div class="row center">
            <input type="submit" value="Excluir" class="btn btn-default" />
        </div>       
    </form>
}

