@model IEnumerable<Dominio.Classes.AcompanhamentoGestante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Inserir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numSus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenatalMensal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semanasGestacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numSus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenatalMensal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semanasGestacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.id }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.id })
        </td>
    </tr>
}

</table>
