@model Dominio.Classes.AcompanhamentoGestante
<nav>
    <span class="card-title">Excluir acompanhamento da gestante</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<p>
    <br />
    <h5>Você tem certeza que deseja remover esse acompanhamento?</h5>
    <br />
</p>


@using (Html.BeginForm("Excluir", "AcompanhamentoGestante"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12">

            <ul class="tabs">
                <li class="tab"><a href="#excluir-acomp-gestante">Excluir acompanhamento da gestante</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
        <div class="row">
            <div id="excluir-acomp-gestante" class="col s12">
                <form>
                    <br /><br />
                    <div class="row">
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.Visita.dataVisita)<br /><br />
                            @Html.DisplayFor(model => model.Visita.dataVisita)
                        </div>
                        <div class="input-field col s1"></div>
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.numSus)<br /><br />
                            @Html.DisplayFor(model => model.numSus)
                        </div>
                        <div class="input-field col s1"></div>
                        <div class="input-field col s2">
                            @Html.DisplayNameFor(model => model.codVisita)<br /><br />
                            @Html.DisplayFor(model => model.codVisita)
                        </div>
                    </div>
                    <div class="input-field col s12">

                        <fieldset>
                            <legend>Informações da gestante</legend>
                            <div class="row">
                                <div class="input-field col s2">
                                    @Html.DisplayNameFor(model => model.semanasGestacao)<br /><br />
                                    @Html.DisplayFor(model => model.semanasGestacao)
                                </div>
                                <div class="input-field col s2">
                                    @Html.DisplayNameFor(model => model.prenatalMensal)<br /><br />
                                    @Html.DisplayFor(model => model.prenatalMensal)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="row center">
                <input type="submit" value="Remover" class="btn btn-default" />
            </div>
        </div>
    </div>
}
