@model Dominio.Classes.AcompanhamentoGestante

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
@using (Html.BeginForm("Excluir", "AcompanhamentoGestante"))
{
    @Html.AntiForgeryToken()

    <h4>AcompanhamentoGestante</h4>
    <hr />
    @Html.HiddenFor(model => model.id)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numSus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numSus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenatalMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenatalMensal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semanasGestacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semanasGestacao)
        </dd>

    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
