
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">[LOGO]</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#" data-activates="dropdown-pessoa">Pessoa<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown-pessoa" class="dropdown-content">
                    <li>@Html.ActionLink("Individuo", "Index", "Individuo")</li>
                    <li>@Html.ActionLink("Domicilio", "Index", "Domicilio")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Área", "Index", "Area")</li>
            <li>@Html.ActionLink("Micro área", "Index", "MicroArea")</li>
            <li>@Html.ActionLink("Equipe", "Index", "Equipe")</li>
            <li>
                <a class="dropdown-button" href="#" data-activates="dropdown-visita">Acompanhamentos<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown-visita" class="dropdown-content">
                    <li>@Html.ActionLink("Visita domiciliar", "Index", "Visita")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Acompanhamento infantil", "Index", "AcompanhamentoCrianca")</li>
                    <li>@Html.ActionLink("Acompanhamento de enfermos", "Index", "AcompanhamentoEnfermo")</li>
                    <li>@Html.ActionLink("Acompanhamento de gestantes", "Index", "AcompanhamentoGestante")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Elaborar cronograma", "Index", "Cronograma")</li>
                </ul>

            </li>
            <li>@Html.ActionLink("Relatórios", "Index", "Relatorios")</li>
            <li style="padding-left:20px; padding-right:20px;">[LOGIN]</li>
        </ul>
    </div>
</nav>