@model Dominio.Classes.Area
<nav>
    <span class="card-title">Detalhes da área</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Voltar a Lista", "Index")   |   
    @Html.ActionLink("Editar", "Editar", new { id = Model.id })
</div>
<div class="row">
    <div class="input-field col s12">
        <ul class="tabs">
            <li class="tab"><a href="#detalhes">Detalhes da área</a></li>
            <li class="tab disabled"></li>
        </ul>
        <div class="row">
            <div id="detalhes" class="col s12">
                <div class="row">
                    <div class="input-field col s1">
                        @Html.DisplayNameFor(model => model.codigo)
                        @Html.DisplayFor(model => model.codigo)
                    </div>
                    <div class="input-field col s1">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <fieldset>
                            <legend>Posto de saúde</legend>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DisplayNameFor(model => model.nome)
                                </div>
                                <div class="input-field col s4">
                                    @Html.DisplayNameFor(model => model.telefone)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DisplayFor(model => model.nome)
                                </div>
                                <div class="input-field col s4">
                                    @Html.DisplayFor(model => model.telefone)
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DisplayNameFor(model => model.endereco)
                                </div>

                                <div class="input-field col s3">
                                    @Html.DisplayNameFor(model => model.bairro)
                                </div>
                                <div class="input-field col s1">
                                    @Html.DisplayNameFor(model => model.numero)
                                </div>
                                <div class="input-field col s2">
                                    @Html.DisplayNameFor(model => model.quantMicroAreas)
                                </div>
                                <div class="input-field col s6">
                                    @Html.DisplayFor(model => model.endereco)
                                </div>

                                <div class="input-field col s3">
                                    @Html.DisplayFor(model => model.bairro)
                                </div>
                                <div class="input-field col s1">
                                    @Html.DisplayFor(model => model.numero)
                                </div>
                                <div class="input-field col s2">
                                    @Html.DisplayFor(model => model.quantMicroAreas)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>