@model Dominio.Classes.Area
<nav>
    <span class="card-title">Excluir área</span>
</nav>

<div class="row">
    <br /><br />
    @Html.ActionLink("Home", "Index", "Home") >
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
<p>
    <h5>Você tem certeza que deseja excluir essa área?</h5>
</p>


@using (Html.BeginForm("Excluir", "Area"))
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab"><a href="#remover">Excluir área</a></li>
                <li class="tab disabled"></li>
            </ul>
        </div>
        <form>
            <div id="remover" class="row">

                <div class="col s12">
                    @Html.HiddenFor(model => model.codigo)
                    <div class="row">
                        <br /><br />
                        <div class="input-field col s12">
                            @Html.DisplayNameFor(model => model.codigo)
                            @Html.DisplayFor(model => model.codigo)
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <fieldset>
                                <legend>Posto de saúde</legend>
                                <div class="row">
                                    <div class="input-field col s6">
                                        @Html.DisplayNameFor(model => model.nome)
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.DisplayNameFor(model => model.telefone)
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.DisplayFor(model => model.nome)
                                    </div>
                                    <div class="input-field col s4">
                                        @Html.DisplayFor(model => model.telefone)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        @Html.DisplayNameFor(model => model.endereco)
                                    </div>

                                    <div class="input-field col s3">
                                        @Html.DisplayNameFor(model => model.bairro)
                                    </div>
                                    <div class="input-field col s1">
                                        @Html.DisplayNameFor(model => model.numero)
                                    </div>
                                    <div class="input-field col s2">
                                        @Html.DisplayNameFor(model => model.quantMicroAreas)
                                    </div>
                                    <div class="input-field col s6">
                                        @Html.DisplayFor(model => model.endereco)
                                    </div>

                                    <div class="input-field col s3">
                                        @Html.DisplayFor(model => model.bairro)
                                    </div>
                                    <div class="input-field col s1">
                                        @Html.DisplayFor(model => model.numero)
                                    </div>
                                    <div class="input-field col s2">
                                        @Html.DisplayFor(model => model.quantMicroAreas)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <input type="submit" value="Excluir" class="btn btn-default" />
            </div>
        </form>
    </div>
}

